.add {
  text-align: center;
}

.jumbotron {
  text-align: center;
  background-image: url("../img/table.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
}

body {
  background-image: url("../img/burger_back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn:hover {
  background-color: teal;
}

@media screen and (max-width: 800px){
  body {
    background-image: url("../img/burger2.jfif");
  }

  .jumbotron {
    background-image: url("../img/burger_back2.jfif");
    color: #fff;
  }

  .eatburger{
    background-color: green;
  }
}